<html lang="zh">
<head>
    <title>JSBridge Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, viewport-fit=cover">
    <link rel="stylesheet" href="/views/loginWebview/index.css" type="text/css">
</head>
<body>
<div id="app">
    <div class="login-wrapper">
        <div class="avatar">
        </div>
        <div class="input-wrapper">
            <div>
                <input type="text" placeholder="type your account"/>
            </div>
            <div>
                <input type="password" placeholder="type your password"/>
            </div>
        </div>
        <div class="button-wrapper">
            <button class="button quit">Quit</button>
            <button class="button login">Login</button>
        </div>
    </div>
</div>
<script>
</script>
<script src="/static/JSSDK.js"></script>
<script src="/views/loginWebview/index.js"></script>
</body>
</html>
