<html lang="zh">
<head>
    <title>pageWebview</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, viewport-fit=cover">
    <link rel="stylesheet" href="/views/pageWebview/index.css" type="text/css">
</head>
<body>
<div id="app">
    <div class="comment-list">
        <div class="comment-item">
            <button class="avatar"></button>
            <span class="comment-content">
                Managing WebView objects Android Developers ?
            </span>
        </div>
        <div class="comment-item">
            <button class="avatar color-1"></button>
            <span class="comment-content">
                This is to get around CORS, and so the html can be structured like a normal page.
            </span>
        </div>
    </div>
    <div class="comment-wrapper">
        <input type="text" placeholder="comment">
        <button class="comment-button">Comment</button>
    </div>
</div>
<script src="/static/JSSDK.js"></script>
<script src="/views/pageWebview/index.js"></script>
</body>
</html>
